<!--<h1>Sessions#new</h1>
<p>Find me in app/views/sessions/new.html.erb</p>
-->
<!DOCTYPE HTML>
<!--<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>Pivotal Tracker - Sign in</title>
    <!--[if IE]>
      <link href="https://cdn3-pivotaltracker.pantherssl.com/stylesheets/ie_overrides_prod-release-20111025-20111129-1_pkg.css?1322624528" media="screen" rel="Stylesheet" type="text/css" />
    <![endif]->


    </head><body class="marcom_ancillary signin_page ">

      <div class="section">
        <div class="wrapper ">
          <div class="dialog_column">
            <div class="dialog">
              <div id="sign_in" class="inner">
                <a class="forgot_password" href="#" onclick="location.href = '/signin/passwords/new?username=' + escape($('credentials_username').value); return false;">Forgot your password?</a>

                <h1>Sign In</h1>
                <%#= form_for :session, :url => sessions_path do |f| %>


                <%#= f.label :email  %><br />
                <%#= f.text_field :email, :required => true%>
                <br/>
                <%#= f.label :password %><br/>
                <%#= f.password_field :e_password%><br/>

                <br/>
                <%#= f.submit "Sign In" %>
                <%# end %>
              </div>
              <!--<input id="google_signin_button" value="Sign In" tabindex="4" type="submit"/>->
            </div>
          </div>
        </div>
      </div>
    <noscript>
  <div id='js_required'>Tracker requires JavaScript. Please enable it in your browser.</div>
</noscript>
</body>-->