<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<%#= "_footer.html" %>
<div id="footer">
  <div class="section light">
    <div class="center">
     <!-- <img alt="Pivotal Labs" id="embossed_logo" src="Pivotal%20Tracker%20-%20Simple,%20Effective%20Agile%20Project%20Management%20and%20Team%20Collaboration%20Software,%20from%20Pivotal%20Labs_files/pivotallabs_embossed.png">-->
      <div class="inner">
        <div class="article pivotal">
          <h4>Developed by Pivotal Labs</h4>
          <ul>
            <li>
              <p>Pivotal Labs is the recognized leader in agile software
 development. We have successfully delivered hundreds of client
products, including Pivotal Tracker, our own agile project management
software. Our disciplined agile techniques accelerate development,
reduce risk, and increase responsiveness to market trends.</p>
            </li>
            <li>
              <a href="http://www.pivotallabs.com/">Learn more about Pivotal Labs &gt;</a>
            </li>
          </ul>
        </div>
        <div class="article blog">
          <h4><a href="http://www.pivotallabs.com/tracker">Blog</a></h4>
          <ul>
            <li><a href="https://pivotallabs.com/users/dan/blog/articles/1929-new-in-pivotal-tracker-for-ios-search-my-work-new-iphone-interface" target="_blank">New in Pivotal Tracker for iOS: Search, My Wo...</a></li><li><a href="https://pivotallabs.com/users/dan/blog/articles/1917-new-3rd-party-tool-pwidget-embaddable-tracker-widget" target="_blank">New 3rd party tool: pWidget - Embaddable Trac...</a></li><li><a href="https://pivotallabs.com/users/dan/blog/articles/1904-scheduled-pivotal-tracker-maintenance-this-saturday" target="_blank">Scheduled Pivotal Tracker Maintenance this Sa...</a></li><li><a href="https://pivotallabs.com/users/dan/blog/articles/1896-trackerdashboard-3rd-party-tool-to-help-manage-large-projects" target="_blank">TrackerDashboard - 3rd Party Tool to Help Man...</a></li>
          </ul>
        </div>
        <div class="article connect">
          <h4>Connect with us</h4>
          <ul>
            <li><a href="http://www.twitter.com/pivotaltracker">Follow us <strong>@pivotaltracker</strong></a></li>
            <li><a href="mailto:tracker@pivotallabs.com">Email us <strong>tracker@pivotallabs.com</strong></a></li>
            <li><a href="https://www.pivotaltracker.com/policy/privacy">Privacy Policies</a></li>
            <li><a href="https://www.pivotaltracker.com/policy/eula">Terms of Service</a></li>
            <li><a href="https://www.pivotaltracker.com/help">FAQ</a></li>
            <li><a href="https://www.pivotaltracker.com/help/api?version=v3">API</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="section dark">
    <div class="center">
      <div class="inner">
        <span>© 2011 Pivotal Labs, Inc.</span>
        <span></span>
      </div>
    </div>
  </div>
</div>