<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<%#= "_signIn_footer.html" %>
<div id="footer">
  <div id="footer_content">
    <a href="https://pivotallabs.com/" target="_blank">About Pivotal Labs</a> | <a href="https://www.pivotaltracker.com/help">Help</a> | <a href="https://www.pivotaltracker.com/help">Feedback</a> | <a href="http://pivotallabs.com/tracker" target="_blank">Blog</a> | <a href="https://www.pivotaltracker.com/policy/eula">Policies</a> | <a href="mailto:tracker@pivotallabs.com">Contact Us</a>
    <a href="https://www.twitter.com/pivotaltracker" id="twitter_link" target="_blank">Follow Pivotal Tracker on Twitter</a>
  </div>
</div>