<!DOCTYPE html>
<html>
  <head>
    <title>Pivotal track</title>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <%= yield :header %>

    <%= yield %>


<%#*content for header wil be shown%>

  </head>
  

    

</html>
